<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>슬라이드 무한 슬라이드</title>
    <style src=></style>
    <style>
        body * {
            height: 50px;
        }

        .slide_box {
            width: 200px;
            position: relative;
            left: 50%;
            margin-left: -100px;
            top: 400px;
            border: 5px blue solid;
            z-index: 100;
        }

        .slide_wrap {
            background: red;
            width: 1200px;
            margin: 0;
            padding: 0;
        }

        .slide_item {
            background: green;
            width: 200px;
            list-style: none;
            float: left;
            text-align: center;
            line-height: 50px;
        }

        .slide_item a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>
    <div class="slide_box">
        <ul class="slide_wrap">
            <li class="slide_item"><a href="#">1</a></li>
            <li class="slide_item"><a href="#">2</a></li>
            <li class="slide_item"><a href="#">3</a></li>
            <li class="slide_item"><a href="#">4</a></li>
            <li class="slide_item"><a href="#">5</a></li>
        </ul>




<ul class="collection-wrap">
    <!-- [DEV] 이미지에 마우스 오버시 제품정보가 나타납니다 : collection-list에 show 클래스를 추가해주시면 됩니다.  -->
    <!--        <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">-->
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/20_1327.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">오버핏 니트 베스트</p>
                    <span class="dp-ib proxima-light mb-10">₩378,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="wh-20" style="background: rgb(14, 124, 14)"></li>
                            <li class="bg-grey wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">플리츠 변형 비조 큐롯</p>
                    <span class="dp-ib proxima-light mb-10">₩456,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-grey wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/23_1685.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/14_0818.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/02_0070.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/22_1520.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/08_0366.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/11_0587.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/21_1435.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/12_0677.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/06_0251.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/05_0206.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/03_0098.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/07_0306.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/25_1843.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/26_1933.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/17_1097.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/09_0482.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/01_0027.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/13_0747.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/18_1170.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/19_1255.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/27_2042.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/16_1028.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/03_0143.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>

    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/15_0913.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list" :class="item.isShow ? 'show' : ''" v-for="item in 1" @mouseleave="leave(item)">
        <span class="model-img">
            <img src="//image.smartscore.kr/mckayson/mall/collection/manuforti/product/10_0526.jpg" class="size-100">

            <div class="collection-item-box">
                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">top</h3>
                    <p class="collection-item-name ellipsis2">소매 배색 터틀넥 니트소매 </p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>

                <div class="collection-item">
                    <h3 class="txt-upper proxima-semibold fw-600">bottom</h3>
                    <p class="collection-item-name ellipsis2">가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라 마바사 아자차카 타파하 가나다라
                        마바사 아자차카 타파하가나다라 마바사 아자차카 타파하</p>
                    <span class="dp-ib proxima-light mb-10">₩3,850,000</span>
                    <div class="mt-at">
                        <ul class="item-color">
                            <li class="bg-white wh-20"></li>
                            <li class="bg-red wh-20"></li>
                            <li class="bg-black wh-20"></li>
                        </ul>
                        <button class="wd-100 hp-32 button-black txt-upper">buy</button>
                    </div>
                </div>
            </div>
        </span>
        <button class="more" @mouseover="over(item)"></button>
    </li>
    <li class="collection-list size-33"></li>

    <!-- [DEV] 이미지에 마우스 오버시 나타납니다.(show클래스)  -->
</ul>







    </div>
    <script>
        var ul = document.querySelector('.slide_wrap');
        var firstItemClone = ul.firstElementChild.cloneNode(true);
        ul.appendChild(firstItemClone);
         function move() {
                var curIndex = 0;
                setInterval(function () {
                    ul.style.transition = '0.2s';
                    ul.style.transform = "translate3d(-" + 200 * (curIndex + 1) + "px, 0px, 0px)";

                    curIndex++;

                    if (curIndex === 5) {
                        setTimeout(function () {
                            ul.style.transition = '0s';
                            ul.style.transform = "translate3d(0px, 0px, 0px)";
                        }, 201)
                        curIndex = 0;
                    }
                }, 1000);
            }

        document.addEventListener("DOMContentLoaded", function () {
            move();
        });

        // https://takeknowledge.tistory.com/34
    </script>
</body>

</html>