/*svg text*/
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
body {
  margin: 0px;
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  -webkit-filter: url(#threshold) blur(0.6px);
          filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 80pt;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.openPage {
    cursor: url("../image/cursor.png") 24 24,zoom-in;
}
/*animation button*/
.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  background: #6225E6;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 6px 6px 0 black;
          box-shadow: 6px 6px 0 black;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 0 #FBC638;
          box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 45px;
}

span {
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/
path.one {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

path.two {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.cta:hover path.three {
  -webkit-animation: color_anim 1s infinite 0.2s;
          animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.6s;
          animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.4s;
          animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@-webkit-keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}

/*3d animation*/
@keyframes stop {
  to{transform: rotateZ(-10deg) }
  from{transform: rotateZ(10deg) }
}

.stop .character-head{
  animation: stop 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
}

@keyframes moving {
  to{transform: translateY(0px) }
  from{transform: translateY(-20px) }
}

.moving .character-head{
  animation: moving 0.2s infinite alternate cubic-bezier(0.46, 0.18, 0.15, 1.05);

}
