.bike, .car {
    position: relative;
    padding-top: 35px;
    animation: driving 0.7s infinite linear alternate;
}

.street, .sky {
    position: absolute;bottom: 0;
    width: 100%;
    overflow: hidden;
}