<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--파비콘 <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-icon-114.png" type="image/png">-->
        <title>위드리치</title>
        <meta name="description" content="위드리치 홈페이지입니다.">
        <meta name="keywords" content="위드리치, 보험, 투자">
        <meta name="author" content="스마트스코어">
        <link rel="stylesheet" href="../css/import.css">
        <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    </head>


    <body>
        <div class="content">
            <div class="inner">
                <div class="visual">
                    <h2 class="title main-title">성공하는 영업리더로 <br>성장기회를 만들어 보세요!</h2>
                    <p class="text-box">위드리치는 항상 여러분의 도전을 기다립니다.</p>
                </div>

                <section class="section">
                    <h2 class="title main-title">성공하는 영업리더로 <br>무한한 성장기회를 드립니다.</h2>
                    <div class="step-wrap">
                        <ul class="step-box-col">
                            <li>
                                <h4 class="title sub-title">FC</h4>
                                <p class="text-box">FC(Financial Consultant)</p>
                                <p class="text-box">표준사원</p>
                            </li>
                            <li>
                                <h4 class="title sub-title">영업리더</h4>                                
                                <p class="text-box">SM(Sales Manager)</p>
                                <p class="text-box">보험경력2년, 표준사원 10명 이상</p>
                            </li>
                            <li>                                
                                <h4 class="title sub-title">본부장</h4>
                                <p class="text-box">SD(Sales Director)</p>
                                <p class="text-box">보험경력3년, 표준사원 30명 이상</p>
                            </li>
                        </ul>
                        <p class="text-box">&#x203B; 표준사원은 정상 활동자로 장기보장성 월납 보험료(정산) 사내 규정에 따름</p>
                        <p class="text-box">&#x203B; 영업리더(관리자)는 매분기 위 승격 기준에 의해 사내 규정에 의거 선정 운영</p>                        
                    </div>
                </section>

                <section class="section">
                    <h2 class="title main-title">모집안내</h2>
                    <div class="col-content">
                        <div class="step-wrap">
                            <ul class="step-box-row">
                                <li>
                                    <span><i class="ic_"></i></span>
                                    <p class="text-box">서류전형</p>                                    
                                </li>
                                <li>
                                    <span><i class="ic_"></i></span>
                                    <p class="text-box">임원면접</p>
                                </li>
                                <li>
                                    <span><i class="ic_"></i></span>
                                    <p class="text-box">최종합격</p>
                                </li>
                            </ul>
                        </div>   
                        <div class="">
                            <p><strong>모집분야</strong><span>생/손보 신입, 경력</span></p>
                            <p><strong>근무조건</strong><span>정보미팅 09:30 ~ 10:00 (영업 DB제공)</span></p>
                            <p><strong>지원자격</strong><span>25세 이상, 성별 무관, 보험 유자격 및 TM(하이브리드 영업) 유경험자 우대</span></p>
                            <p><strong>급여</strong><span>기본 수수료 + 인센티브</span></p>
                            <p><strong>영업지원</strong><span>하이브리드 영업 (DB 월 30건 제공, 창구영업 지원)</span></p>
                            <p><strong>제출서류</strong><span>이력서, 자기소개서</span></p>
                            <p><strong>근무지</strong><span>서울 강남구 테헤란로 98길8, 9층(삼성역 4번출구 도보 2분 이내)</span></p>
                            <p><strong>문의전화</strong><span>1877-2877</span></p>
                        </div>                 
                    </div>
                </section>
            </div>
            
        </div>
    </body>


</html>
