@charset "utf-8";

// important
$imt : unquote('!important');

// item length
$itemLength : 100;

/********** color variable **********/
$color-gm-green: #003831 !default;
$color-greyblue: #67c4b5 !default;
$color-light-green: #b0ffa2 !default;
$color-red: #ff2b2b !default;
$color-blue: #3e9fff !default;
$color-white: #fff !default;
$color-light-grey: #f5f5f5 !default;
$color-midium-grey: #7b7b7b !default;
$color-grey: #5a5a5a !default;
$color-black: #000 !default;

$color-gradient1:linear-gradient(to bottom, #f8f8f8, #d3d3d3) !default;
$color-gradient2:linear-gradient(to bottom, #fdabb4, #fa7f7f) !default;
$color-gradient3:linear-gradient(to bottom, #dbffd5, #92d687) !default;$colors: () !default;


$colors: map-merge(
    (
      "gm-green": $color-gm-green,
      "greyblue": $color-greyblue,
      "light-green": $color-light-green,
      "red": $color-red,
      "blue": $color-blue,
      "white": $color-white,
      "light-grey": $color-light-grey,
      "midium-grey": $color-midium-grey,
      "grey": $color-grey,
      "black": $color-black
    ),
    $colors
);
