body {font-family: 'Noto Sans CJK KR';}

.home-parallex-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.text-box {
  min-width: 200px;
}
.section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  &.purplepin {
    background: url("https://image.smartscore.kr/purplepin/img_01.jpg") no-repeat
      center center;
    .text-box {
      position: absolute;
      right: 200px;
      bottom: 160px;
    }
  }

  &.brandStory {
    min-height: 1209px;
    padding-bottom: 20px;
    background: url("https://image.smartscore.kr/purplepin/img_02.png") no-repeat center center;
    .inner {
      position: absolute;
      left: 50%;
      margin-left: -480px;
      width: 100%;
      height: 100%;
      max-width: 960px;
      height: 100%;
      .obj1 {
        position: absolute;
        left: 0;
        top: 322px;
        width: 110px;
        margin-left: -20%;
      }
      .obj2 {
        position: absolute;
        left: 70%;
        top: -5%;
        width: 18%;
      }
    }
    .text-wrap {
      display: flex;
      align-items: flex-start;
      position: absolute;
      top: 440px;
      .text-box {
        position: relative;
        z-index: 5;
        width: 600px;
        .eng.title {
          margin-bottom: 25px;
        }
        .m-big-text {display: none;}
      }
      .shopImg {
        position: relative;
        width: 700px;
        height: 800px;
        margin-top: -220px;
        margin-left: -20%;
        .brand-image {
          position: relative;
          width: 580px;
        }
        .obj3 {
          position: absolute;
          left: 400px;
          top: 484px;
          width: 257px;
          height: 257px;
        }
      }
    }

    .m_text-wrap {display: none;}
  }

  &.studio {
    min-height: 1200px;
    background: url("https://image.smartscore.kr/purplepin/img_03.jpg") no-repeat center center;
    .bg-line {
      position: absolute;
      left: 0;
      top: 0;    
      width: 100vw;  
      height: 100%;
      z-index: 10;
      .line-reveal {
          width: 120%;
          height: 3px;
          overflow:hidden;
          position:absolute;

          .overlay {
            background: transparent;
            height: 10px;
            position: absolute;
            top:-5px;
            width: 100%;
            transform-origin: 100% 0;
            animation: wipe 3s ease;
            animation-iteration-count: inherit;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); // cubic
            //animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); // expo
          }
          
          .line {
            border: 3px line white;
            backface-visibility:hidden;
            background-image: linear-gradient(to right, #9f06e4 0%, #3900fc 100%);
          }
      }

      .line-a {      
        width: 184px;
        left: 38%;  
        top: 88px;
        transform-origin: 0 0;
        transform: rotate(-30deg);  
        .line {
          border-color: #ff9900;
        }
      }

      .line-b {  
        width: 641px;
        left: 30%;  
        top: 108px;
        transform-origin: 0 0;
        transform: rotate(-45deg);  
        .overlay {
          animation-delay: .5s;
        }

        .line {
           background: linear-gradient(to right, red, purple);
        }
      }

      .line-c {
        width: 138px;
        left: 62%;
        top: 315px;
        transform-origin: 100% 0;
        transform: rotate(-20deg);
        
        .overlay {
          animation-delay: 1s;
        }
        
        .line {
          border-color: #0099ff;
        }
      }

      .line-d {
        width: 367px;
        left: 77%;
        top: -20px;
        transform-origin: 100% 0;
        transform: rotate(-45deg);
        
        .overlay {
          animation-delay: 1s;
        }
        
        .line {
          border-color: #0099ff;
        }
      }
    }
    .inner {
      position: absolute;
      top: 32vh;
      left: 44vw;
      width: 576px;
      .text-box {
        position: relative;
      }
    }
    .facility {
      margin-top: 103px;
      .m_triple {display: none;}
      .slide_wrap {
        width: 100%;
        height: 130px;
        .slick-slide {
          > div {
            margin-right: 6px;
          }
          &:nth-child(3n) {
            > div {
              margin-right: 0;
            }
          }
        }
        .bnr {
          position: relative;
          height: 130px;
          cursor: pointer;
          &.bnr_01 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_01.jpg");
          }
          &.bnr_02 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_02.jpg");
          }
          &.bnr_03 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_03.jpg");
          }
          &.bnr_04 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_04.jpg");
          }
          &.bnr_05 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_05.jpg");
          }
          &.bnr_06 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_06.jpg");
          }
          &.bnr_07 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_07.jpg");
          }
          &.bnr_08 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_08.jpg");
          }
          &.bnr_09 {
            background-image: url("https://image.smartscore.kr/purplepin/fitting_09.jpg");
          }
          &:before {
            display: none;
            clear: both;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url("https://image.smartscore.kr/purplepin/view_hover.png") no-repeat center center;
            background-size: cover;
          }
          &:hover {
            &:before {
              display: block;
            }
          }
        }
      }
    }
  }
  &.united {
    min-height: 1310px;
    background: url("https://image.smartscore.kr/purplepin/img_04.jpg") no-repeat
      center center;
    .inner {
      max-width: 960px;
      height: 100%;
      margin: auto;
      padding: 12vh 0 0;
      .text-box {
        display: flex;
      }
    }
    .tabcontent {
      height: 547px;
      .shop {
        height: 100%;
        .slide_wrap {
          margin-top: 30px;
          padding-bottom: 20px;
          .bnr {
            height: 547px;
          }
        }
        .slick-dots {top: 517px;}
        &.songpaStore {
          .slide_wrap {
            .bnr {
              &.bnr_01 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_01.jpg");
              }
              &.bnr_02 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_02.jpg");
              }
              &.bnr_03 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_03.jpg");
              }
              &.bnr_04 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_04.jpg");
              }
              &.bnr_05 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_05.jpg");
              }
              &.bnr_07 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_07.jpg");
              }
              &.bnr_08 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_08.jpg");
              }
              &.bnr_09 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_09.jpg");
              }
              &.bnr_10 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_10.jpg");
              }
              &.bnr_11 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_11.jpg");
              }
              &.bnr_14 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_14.jpg");
              }
              &.bnr_15 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_16.jpg");
              }
              &.bnr_16 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_16.jpg");
              }
              &.bnr_17 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_17.jpg");
              }
              &.bnr_18 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_18.jpg");
              }
              &.bnr_19 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_19.jpg");
              }
              &.bnr_20 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_20.jpg");
              }
              &.bnr_21 {
                background-image: url("https://image.smartscore.kr/purplepin/songpa_21.jpg");
              }
            }
          }
        }
        &.geumgokStore {
          .slide_wrap {
            .bnr {
              &.bnr_01 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_01.jpg");
              }
              &.bnr_02 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_02.jpg");
              }
              &.bnr_03 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_03.jpg");
              }
              &.bnr_04 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_04.jpg");
              }
              &.bnr_05 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_05.jpg");
              }
              &.bnr_06 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_06.jpg");
              }
              &.bnr_09 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_09.jpg");
              }
              &.bnr_11 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_11.jpg");
              }
              &.bnr_12 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_12.jpg");
              }
              &.bnr_13 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_13.jpg");
              }
              &.bnr_14 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_14.jpg");
              }
              &.bnr_15 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_15.jpg");
              }
              &.bnr_16 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_16.jpg");
              }
              &.bnr_17 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_17.jpg");
              }
              &.bnr_18 {
                background-image: url("https://image.smartscore.kr/purplepin/bundang_18.jpg");
              }
            }
          }
        }
      }
    }
    .addr-box {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  &.partners {
    min-height: 1200px;
    background: url("https://image.smartscore.kr/purplepin/img_05.png") no-repeat
      center center;
    .inner {
      width: 842px;
      margin: auto;
      padding-top: 12vh;
      .text-box {
        text-align: center;
        .bar {
          margin-left: 50%;
          transform: translateX(-50%);
        }
        .m-big-text {display: none;}
      }
      .partnership {
        margin-top: 100px;
        .slide_wrap {
          padding-bottom: 50px;
          max-height: 570px;
          .bnr {
            display: flex !important;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            max-height: 570px;
            article {
              width: 20%;
              img {
                width: 100%;
              }
              &:nth-child(even) {
                padding: 14px 0;
              }
            }
          }
        }
        .slick-arrow {
          display: none !important;
        }
      }
      .partnerslogo {
        min-height: 570px;
      }
      .m_partnerslogo {
        display: none;
      }
    }
  }

  .bar {
    width: 50px;
    height: 5px;
    background: $color-white;
    margin-bottom: 15px;
  }
  .big-text {
    margin-top: 25px;
    letter-spacing: -1.95px;
  }
}

.page-box {
  position: fixed;
  right: 2.2vw;
  bottom: 2.2vw;
  z-index: 10;
  button {
    display: block;
    margin-top: 10px;
  }
}

.tab-content-box {
  padding: 0 80px;
  margin-top: 123px;
}

@media screen and (max-width: 1200px) {
  .controllers {
    display: none !important;
  }
  .section {
    &.brandStory {
      width: 100%;
    }
    &.studio {
      .inner {
        left: 50%;
        transform: translateX(-50%);
        .text-box {
          padding: 0 4vw;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .section {
    padding-bottom: 30px;
    &.purplepin {
      background-image: url("https://image.smartscore.kr/purplepin/img_01_mobile.jpg");
        .text-box {
        left: 17%;
        top: 100px;
        font-size: 2em;
        .bar {
          margin: 0 0 14px;
        }
      }
    }

    &.brandStory {
      position: relative;
      background-image: url("https://image.smartscore.kr/purplepin/img_02_mobile.jpg");
      .inner {
        width: 100%;
        left: 0;
        margin-left: 0;
        .obj1 {
          left: 80%;
          top: 60%;
          width: 136px;
        }
        .obj2 {
          position: absolute;
          left: 86%;
          top: -1%;
          width: 169px;
          height: 169px;
        }
        .text-wrap {display: none;}
        .m_text-wrap {
          display: block;
          padding: 0 4vw;
          .text-box {
            position: absolute;
            left: 0;
            bottom: 5%;
            padding: 0 4vw;
            text-align: center;
            .big-text {display: none;}
            .m-big-text {
              display: block;
              word-break: keep-all;
              margin-top: 25px;
            }
          }
          .shopImg {
            position: relative;
            width: 100%;
            margin-top: 14%;
            height: auto;
            margin-left: 5%;
            .obj3 {
              position: absolute;
              width: 180px;
              height: 180px;
              left: -30%;
              top: 60%;
            }
          }
        }
      }
    }

    &.studio {
      background-image: url("https://image.smartscore.kr/purplepin/img_mobile_03.jpg");
      background-position: 24% 0;
      .line4 {display: none;}
      .inner {
        width: 100%;
        .text-box {
          text-align: center;         
        }
        .facility {
          padding: 0 4vw;
          margin-top: 0;
          .slide-wrap {
            margin-top: 20px !important;
            height: 130px;
          }
        }
      }
    }

    &.united {
      background-image: url("https://image.smartscore.kr/purplepin/img_04_mobile.jpg");
      .inner {
        width: 100%;
        .text-box {
          flex-direction: column;
          .eng.title {
            text-align: center;
            margin: auto;
          }
          .big-text {
            text-align: center;
            margin: auto;
            margin-top: 25px;
          }
        }

        .tab-content-box {
          margin-top: 20px;
          .tabcontent {
            height: 347px;
            .shop {
              height: 100%;
              .slide_wrap {
                .bnr {
                  height: 347px;
                }
              }
              .slick-dots {top: 300px;}
            }
          }
        }
        .addr-box {
          margin-top: 10px;
          font-size: 18px;
        }
      }
    }

    &.partners {
      background-image: url("https://image.smartscore.kr/purplepin/img_05_mobile.jpg");
      .inner {
        width: 100%;
        margin: auto;
        .partnership {
          margin-top: 20px;
        }
      }
    }


  .bar {
    width: 30px;
    height: 3px;
    margin: 0 auto 14px;
  }

  .slide_wrap {
    margin-top: 20px;
    height: auto;
  }
  }
}

@media screen and (max-width: 440px) {
  .section {
    &.brandStory {
      min-height: 860px;
      .inner {
        .text-wrap {
          top: 0;
          padding-bottom: 20px;
        }
        .obj1 {
          top: 70%;
          width: 80px;
        }
        .obj2 {
          left: 76%;
          top: -20px;
          width: 134px;
          height: 134px;
        }
      }
    }

    &.studio {
      min-height: 960px;
      .inner {
        top: 36%;
      }
      .facility {
        .triple {display: none;}
        .m_triple {
          display: block;
          margin-top: 46px;
           .slick-slide {
            > div {
              margin-right: 0;
            }
          }
        }
        .slide_wrap {
          height: 247px;
          .bnr {
            height: 247px;
          }
        }
      }
    }

    &.united {
      min-height: 784px;
      .inner {
        .tab-content-box {
          .tabcontent {
            height: 247px;
            .shop {
              height: 100%;
              .slide_wrap {
                margin-top: 30px;
                padding-bottom: 20px;
                .bnr {
                  height: 247px;
                  &.bnr_01 {
                    background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1086_1885_4444.jpg");
                  }
                  &.bnr_02 {
                    background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202103/1076_1871_5354.jpg");
                  }
                  &.bnr_03 {
                    background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202103/1032_1788_3710.jpg");
                  }
                  &.bnr_04 {
                    background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202103/1075_1862_1216.jpg");
                  }
                  &.bnr_05 {
                    background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1139_2024_5116.jpg");
                  }
                  &.bnr_06 {
                    background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1091_1900_1750.jpg");
                  }
                }
              }
              .slick-dots {top: 517px;}
            }
          }
        }
        .big-text {
          margin-top: 25px !important;
        }
      }
    }

    &.partners {
      min-height: 500px;
      .inner {
        .text-box {
          .big-text {display: none;}
          .m-big-text {
            display: block;
            margin-top: 20px;
            padding: 0 4vw;
          }
        }
        .partnership {
          .slide_wrap {
            padding-bottom: 0;
            .bnr {
              article {
                width: 48% !important;
                img {
                  width: 100%;
                }
                &:nth-child(even) {
                  padding: 0 !important;
                }
              }
            }
            &.partnerslogo {display: none;}
            &.m_partnerslogo {
              display: block;
              padding: 0 20px;
              margin: 60px 0 30px;
              .slick-dots {margin-left: -20px;}
            }
          }
        }
      }
    }
  }
  .arrow-box {display: none;}
}


@media screen and (max-width: 320px) {
  .section {
    &.brandStory {
      min-height: 1000px;
    }
    &.united {
      min-height: 760px;
    }
    &.studio {
      min-height: 1100px;
    }
  }
}
