.dp-f {
  display: flex;
}
.flex-grow {
  flex: 1;
}
.align-center {
  align-items: center;
}
.ml-at {
  margin-left: auto;
}

#header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 124px;
  // opacity: 0.7;
  background-image: linear-gradient(to bottom, #333333, rgba(84, 84, 84, 0));
  z-index: 10;
  .inner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    margin: auto;
    h1 {
      width: 173.5px;
      a {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    .drop-down-wrap {
      margin-left: auto;
      .call {
        display: none;
      }
    }
  }
  .mobilelogo {
    display: none;
  }
}

#main {
  position: relative;
  height: 100%;
}
.arrow-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 40px;
  bottom: 47px;
  .down {
    margin-top: 10px;
  }
  &.first-page {
    .up {
      display: none;
    }
  }
  &.last-page {
    .down {
      display: none;
    }
  }
}
// guide
.content {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: $color-white;
}
.inner-wrap {
  position: relative;
  max-width: 1800px;
  margin: auto;
}
.height-100 {
  height: 100%;
}
.guide-box {
  .guide-type {
    font-size: 70px;
    border-bottom: 1px solid $color-white;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 104px;
    margin-bottom: 104px;
  }
}
.color-box {
  display: flex;
  align-items: flex-end;
  .ppp-gradient {
    display: block;
    width: 136px;
    height: 136px;
    background-image: linear-gradient(136deg, #9a05e4, #3e01fc 99%);
    margin-right: 20px;
  }
}

.title {
  font-size: 60px;
  letter-spacing: -4.5px;
  font-weight: bold;
}
.sub-title {
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: bold;
}
.headline {
  font-size: 30px;
  letter-spacing: -1.5px;
  font-weight: 500;
}
.sub-headline {
  font-size: 16px;
  letter-spacing: -0.48px;
  font-weight: 500;
}
.big-text {
  font-size: 26px;
  letter-spacing: -1.3px;
  font-weight: normal;
  line-height: 40px;
  word-break: keep-all;
}
.m-big-text {
  font-size: 24px;
  line-height: 30px;
  word-break: keep-all;
}
.middle-text {
  font-size: 20px;
  letter-spacing: -0.6px;
  font-weight: normal;
}
.small-text {
  font-size: 13px;
  letter-spacing: -0.26px;
  font-weight: normal;
}

.eng {
  &.title {
    font-size: 60px;
    letter-spacing: -1.8px;
    font-weight: bold;
  }
  &.sub-title {
    font-size: 40px;
    letter-spacing: -1.2px;
    font-weight: bold;
  }
  &.headline {
    font-size: 30px;
    letter-spacing: -0.9px;
    font-weight: 500;
  }
  &.sub-headline {
    font-size: 16px;
    font-weight: 500;
  }
  &.big-text {
    font-size: 26px;
    letter-spacing: -0.52px;
    font-weight: normal;
  }
  &.middle-text {
    font-size: 20px;
    font-weight: normal;
  }
  &.small-text {
    font-size: 13px;
    font-weight: normal;
  }
}

.button-box {
  display: flex;
  align-items: center;
}

.round-button {
  position: relative;
  border-radius: 50%;
  background-size: 95% !important;
  &.big {
    width: 56px;
    height: 56px;
  }
  &.small {
    width: 40px;
    height: 40px;
  }
  &.mail {
    background: url("https://image.smartscore.kr/purplepin/btn_drop_mail.png")
      no-repeat center center;
    &:hover {
      background: url("https://image.smartscore.kr/purplepin/btn_drop_mail.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
    }
    &:focus {
      background: url("https://image.smartscore.kr/purplepin/btn_drop_mail.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
    }
  }
  &.phone {
    background: url("https://image.smartscore.kr/purplepin/btn_drop_phone.png")
      no-repeat center center;
    &:hover {
      background: url("https://image.smartscore.kr/purplepin/btn_drop_phone.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
    }
    &:focus {
      background: url("https://image.smartscore.kr/purplepin/btn_drop_phone.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
    }
  }
  &.up {
    background: url("https://image.smartscore.kr/purplepin/btn_top.png")
      no-repeat center center;
    &:hover {
      background: url("https://image.smartscore.kr/purplepin/btn_top.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
    }
    &:focus {
      background: url("https://image.smartscore.kr/purplepin/btn_top.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
    }
  }
  &.down {
    background: url("https://image.smartscore.kr/purplepin/btn_down.png")
      no-repeat center center;
    &:hover {
      background: url("https://image.smartscore.kr/purplepin/btn_down.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
    }
    &:focus {
      background: url("https://image.smartscore.kr/purplepin/btn_down.png")
        no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
    }
  }
}

.square-button {
  display: inline-block;
  height: 52px;
  font-size: 20px;
  color: $color-white;
  border: 1px solid $color-white;
  background: rgba($color: #ffffff, $alpha: 0);
  cursor: pointer;
  &.big {
    padding: 10px 62px;
  }
  &.small {
    padding: 10px 32px;
  }
  &.square {
    width: 40px;
    height: 40px;
    background: url("https://image.smartscore.kr/purplepin/btn_close.png")
      no-repeat center center;
    background-size: 95% !important;
    border: none;
    &:hover {
      background: url("https://image.smartscore.kr/purplepin/btn_close_hover.png");
    }
    &:focus {
      background: url("https://image.smartscore.kr/purplepin/btn_close_focus.png");
    }
  }
  &:hover {
    background: rgba($color: #ffffff, $alpha: 0.05);
  }
  &:focus {
    background: rgba($color: #ffffff, $alpha: 0.15);
  }
}

.view-photo-box {
  width: 190px;
  height: 130px;
  background-size: cover;
  transition: all 1s ease-in-out;
  // background: url("https://image.smartscore.kr/purplepin/view_hover.png") no-repeat center center;
  &:hover {
    &:after {
      display: block;
      clear: both;
      content: "";
      width: 100%;
      height: 100%;
      background-size: 50%;
      background: url("https://image.smartscore.kr/purplepin/view_hover.png")
        no-repeat center center;
    }
  }
  &:focus {
    &:after {
      display: block;
      clear: both;
      content: "";
      width: 100%;
      height: 100%;
      background: url("https://image.smartscore.kr/purplepin/view_focus.png")
        no-repeat center center;
    }
  }
}

/* Style the tab */
.tab {
  display: flex;
  align-items: center;
  overflow: hidden;
  button {
    position: relative;
    flex: 1;
    padding: 23px 0;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #7f7f7f;
    &:after {
      display: block;
      clear: both;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to right, #9f06e4 0%, #3900fc 100%);
    }
    &:hover {
      color: $color-white;
    }
    &:focus,
    &.active {
      color: $color-white;
      &:after {
        height: 12px;
      }
    }
  }
}
.tabcontent {
  display: none;
  &.active {
    display: block;
  }
}

.drop-down-wrap {
  display: flex;
  align-items: center;
  .drop-down-box {
    position: relative;
    margin-left: 20px;
    .drop-down {
      display: none;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 74px;
      width: max-content;
      background: $color-white;
      padding: 18px 30px;
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
      .drop-down-content {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        strong {
          display: inline-block;
          flex-shrink: 0;
          color: #7f7f7f;
          margin-right: 20px;
        }
        p {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          color: #343434;
          margin-top: 5px;
        }
        &:after {
          display: inline-block;
          clear: both;
          content: "";
          position: absolute;
          top: -45px;
          right: -16px;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 18px solid #fff;
          border-top: 18px solid transparent;
        }
      }
      .call {
        font-size: 16px;
        border: 1px solid #343434;
        padding: 4px 10px;
        margin-left: 24px;
      }
    }

    &.show {
      &.show {
        .drop-down {
          display: block;
          opacity: 1;
        }
      }
    }
  }
}

.slick-slide img {
  width: 100%;
}

// modal
.modal-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  .modal-box {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 692px;
    .slide_wrap {
      width: 100%;
      height: 692px;
      .slick-slide {
        width: 1000px !important;
      }
      .bnr {
        height: 692px;
        &.bnr_01 {
          background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1139_2024_5116.jpg");
        }
        &.bnr_02 {
          background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1089_1904_3038.jpg");
        }
        &.bnr_03 {
          background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1096_1914_4859.jpg");
        }
        &.bnr_04 {
          background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202103/1075_1862_1216.jpg");
        }
        &.bnr_05 {
          background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1139_2024_5116.jpg");
        }
        &.bnr_06 {
          background-image: url("https://cdn.golfmagazinekorea.com/news/photo/202104/1091_1900_1750.jpg");
        }
      }
    }
  }
  .square-button.square {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  &.show {
    visibility: visible;
  }
}

.map-wrap {
  overflow: hidden;
  .map {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 692px;
    iframe {
      width: 100% !important;
      height: 100% !important;
    }
    .bottom-infoBox {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 10;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 49%,
        rgba(255, 255, 255, 0.5)
      );
      .inner {
        padding: 40px;
      }
      .headline {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 30px;
      }
      .addr-box {
        display: block;
        margin-top: 0;
      }
    }
  }
}

#footer {
  width: 100%;
  padding: 50px 0;
  background: #1e1e1e;
  .inner {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    color: $color-white;
    opacity: 0.5;
    padding: 0;
    .logo {
      margin-top: 8px;
      a {
        display: block;
        margin-top: 6px;
        img {
          width: 50px;
        }
      }
    }
    .divider {
      display: block;
      width: 2px;
      height: 63px;
      background: $color-white;
      opacity: 0.15;
      margin: 0 10px;
    }
    .center-info {
      flex-shrink: 0;
      .headline {
        font-weight: bold;
        line-height: 60px;
        &.eng {
          line-height: 1;
          margin-bottom: 10px;
        }
      }
    }
    .footer-info {
      display: flex;
      align-items: center;
      margin-left: auto;
      width: 601px;
      font-size: 13px;
      .pp-info {
        display: flex;
        flex-wrap: wrap;
        line-height: 20px;
        dd {
          display: inline;
          margin: 0 6px;
        }
      }
      p {
        margin-top: 9px;
      }
      .m-pp-info {
        display: none;
      }
    }
  }
}

@keyframes line {
  0% {
    left: 0;
    background: #000;
  }

  100% {
    left: 100%;
    background: #333;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -10px);
  }
}

@media screen and (max-width: 1200px) {
  .modal-wrap {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    .modal-box {
      position: unset;
      width: 100vw !important;
      height: 50%;
      .slide_wrap {
        width: 100vw;
        height: 100%;
        margin-top: 0;
        .slick-list,
        .slick-track {
          height: 100%;
          .slick-slide {
            width: 100vw !important;
            > div {
              height: 100%;
              .bnr {
                height: 100% !important;
              }
            }
          }
        }
      }
    }
    .square-button.square {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}

@media screen and (max-width: 720px) {
  #header {
    height: 70px;
    .inner {
      width: 100%;
      padding: 0 4vw;
      h1 {
        width: 30px;
        .mainlogo {
          display: none;
        }
        .mobilelogo {
          display: block;
        }
      }
    }
  }
  #footer {
    padding: 16px 0;
    .inner {
      flex-direction: column;
      h1 {
        display: none;
      }
      .divider {
        display: none;
      }
      .center-info {
        padding-bottom: 20px;
        text-align: center;
        .headline {
          line-height: 40px;
        }
      }
      .footer-info {
        width: 100%;
        position: relative;
        padding-top: 20px;
        text-align: center;
        &::before {
          display: block;
          clear: both;
          content: "";
          position: absolute;
          left: 4vw;
          right: 4vw;
          top: 0;
          height: 1px;
          background: #707070;
        }
        p {
          margin-top: 20px;
        }
      }
    }
  }
  .tab-content-box {
    padding: 0 4vw !important;
    .tabs {
      li {
        padding: 13px 0;
        font-size: 20px;
        &:after {
          height: 1px;
        }
        &:hover,
        &:focus,
        &.active {
          color: $color-white;
          &:after {
            height: 5px;
          }
        }
      }
    }
  }

  .drop-down-wrap {
    .drop-down-box {
      margin-left: 10px;
      .drop-down {
        right: 0;
        top: 54px;
        .drop-down-content {
          &:after {
            top: -45px;
            right: -25px;
          }
        }
      }
    }
  }

  .round-button {
    position: relative;
    border-radius: 50%;
    background-size: 95% !important;
    &.big {
      width: 36px;
      height: 36px;
    }
    &.small {
      width: 40px;
      height: 40px;
    }
    &.mail {
      background: url("https://image.smartscore.kr/purplepin/btn_drop_mail.png")
        no-repeat center center;
      &:hover {
        background: url("https://image.smartscore.kr/purplepin/btn_drop_mail.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
      }
      &:focus {
        background: url("https://image.smartscore.kr/purplepin/btn_drop_mail.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
      }
    }
    &.phone {
      background: url("https://image.smartscore.kr/purplepin/btn_drop_phone.png")
        no-repeat center center;
      &:hover {
        background: url("https://image.smartscore.kr/purplepin/btn_drop_phone.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
      }
      &:focus {
        background: url("https://image.smartscore.kr/purplepin/btn_drop_phone.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
      }
    }
    &.up {
      background: url("https://image.smartscore.kr/purplepin/btn_top.png")
        no-repeat center center;
      &:hover {
        background: url("https://image.smartscore.kr/purplepin/btn_top.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
      }
      &:focus {
        background: url("https://image.smartscore.kr/purplepin/btn_top.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
      }
    }
    &.down {
      background: url("https://image.smartscore.kr/purplepin/btn_down.png")
        no-repeat center center;
      &:hover {
        background: url("https://image.smartscore.kr/purplepin/btn_down.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.05);
      }
      &:focus {
        background: url("https://image.smartscore.kr/purplepin/btn_down.png")
          no-repeat center center rgba($color: #ffffff, $alpha: 0.15);
      }
    }
  }

  .square-button {
    height: 32px;
    &.big {
      padding: 0 62px;
    }
    &.small {
      padding: 0 20px !important;
      font-size: 16px !important;
    }
  }

  @media screen and (max-width: 440px) {
    #footer {
      .inner {
        padding: 0 4vw;
        .footer-info {
          .pp-info {
            display: none;
          }
          .m-pp-info {
            display: block;
            span {
              display: block;
            }
          }
          > div {
            margin: auto;
            line-height: 22px;
          }
        }
      }
    }

    .tab-content-box {
      padding: 0 4vw !important;
      .tab {
        button {
          &:hover,
          &:focus,
          &.active {
            color: $color-white;
            &:after {
              height: 6px;
            }
          }
        }
      }
    }

    .drop-down-wrap {
      .drop-down-box {
        margin-left: 10px;
        .drop-down {
          right: 0;
          top: 54px;
          .drop-down-content {
            &:after {
              top: -45px;
              right: -25px;
            }
          }
          .call {
            display: block !important;
          }
        }
      }
    }

    .title {
      font-size: 40px;
      letter-spacing: -4.5px;
      font-weight: bold;
    }
    .sub-title {
      font-size: 18px;
      letter-spacing: -3px;
      font-weight: bold;
    }
    .headline {
      font-size: 15px;
      letter-spacing: -1.5px;
      font-weight: 500;
    }
    .sub-headline {
      font-size: 16px;
      letter-spacing: -0.48px;
      font-weight: 500;
    }
    .big-text {
      font-size: 24px;
      letter-spacing: -1.3px;
      font-weight: normal;
      line-height: 30px;
    }
    .middle-text {
      font-size: 13px;
      letter-spacing: -0.6px;
      font-weight: normal;
    }
    .small-text {
      font-size: 12px;
      letter-spacing: -0.26px;
      font-weight: normal;
    }

    .eng {
      &.title {
        font-size: 40px;
        letter-spacing: -1.8px;
        font-weight: bold;
      }
      &.sub-title {
        font-size: 24px;
        letter-spacing: -1.2px;
        font-weight: bold;
      }
      &.headline {
        font-size: 15px;
        letter-spacing: -0.9px;
        font-weight: 500;
      }
      &.sub-headline {
        font-size: 16px;
        font-weight: 500;
      }
      &.big-text {
        font-size: 16px;
        letter-spacing: -0.52px;
        font-weight: normal;
      }
      &.middle-text {
        font-size: 13px;
        font-weight: normal;
        line-height: 30;
      }
      &.small-text {
        font-size: 12px;
        font-weight: normal;
      }
    }

    .tab {
      button {
        padding: 13px 0;
        font-size: 20px;
      }
    }

    .map-wrap {
      .map {
        height: 100vh;
        .bottom-infoBox {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: 10;
          .inner {
            max-width: 100% !important;
            width: 100%;
            padding: 4vw;
          }
          .headline {
            font-size: 20px;
          }
        }
      }
    }
  }
}
